<tr>
	<td class="blogpost">
		<span class="title"><%= h blogpost.title %></span>
		<span class="content"><%= h blogpost.content %></span>
		<span class="timestamp"> Posted on <%= blogpost.created_at %>.</span>
	</td>
</tr>