.container {

}

a {
	color: #0cf;
	text-decoration: none;
}

a:hover {
	text-decoration: bold;
	color: #39f;
}

a:visited {
	color: #39f;
}

h1 {
	font-weight: bold;
	color: #700;
}

h2 {
	color: #1970a2;
	margin-bottom: 3px;
	padding-top: 1em;
}

body {
	background: #ccc;
}

#header {
	background: #700;
	text-align: center;
}

.navigation {
	white-space: nowrap;
	background: #bbb;
	padding: 0 0.7em;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

ul.navigation {
	margin: 0;
}

.navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

.navigation li a {
	color: #09c;
	font-weight: bold;
	padding: 0 5px;
	font-size: 120%;
	text-decoration: none;
}

.navigation li a:hover {
	color: #369;
	text-decoration:underline;
}

#header img {
	padding: 1em;
}

#content {
	background: #eee;
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	margin-bottom: 1em;
}

#footer {
	text-align: center;
	border-style: solid;
	border-width: 1px;
	background-color: #CCCCCC;
	border-color: #000;
}

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.calendar {
	padding: 2em;
	border: 1px solid black;
}

.announcement {
	border-style: solid;
	border-color: #ff0;
	border-width: 1px;
	background-color: #ffc;
	padding: 0.5em;
	width: 100%;
}

.blog {
	padding: 1em;
	display: block;
}

.post {
	padding: 1em;
	margin-top: 2px;
	border: 1px solid #000;
	background-color: white;
	margin-bottom: 2em;
}

.post span.title_text {
	padding-left: 0.5em;
	color: #700;
	font-size: 300%;
	font-weight: bold;
	padding: 3px;
}

.post span.edit_post {
	float: right;
	font-size: 70%;
	padding: 5px;
	vertical-align: middle;
	background-color: #cff;
	border: 1px solid #39f;
}

.post span.edit_post:hover {
	background-color: #fff;
}

.post span.content {
	display: block;
	padding: 1em;
}

.post span.timestamp {
	display: block;
	padding-right: 4px;
	padding-bottom: 5px;
	font-size: 80%;
}

.officers {
	text-align: center;
}

.officers table {
	border: 1px solid black;
	background-color: #fff;
}

.officers table tr {
	padding: 1em;
}

.officers table tr td {
	padding: 1em;
}

.officers table tr td span.name {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.officers table tr td span.position {
	display: block;
	text-align: center;
	font-size: 120%;
}

.officers table tr td span.email {
	display: block;
	text-align: center;
}