<div class="users-list">
	<% @users.each do |user| %>
      <div class="row">
			 <div class="span3 offset3 right"><%= link_to user.name, user %></div>
       <div class="span3"><%= mail_to user.email, nil, encode: 'javascript' %> </div>
      </div>

	<% end %>
</ul>