<h1>User Admin</h1>

<%= render 'user_search_form' %>

<%= will_paginate @users %>

<ul class="user_admin">
	<% @users.each do |user| %>
		<li class="user"><%= link_to user.name, edit_user_path(user) %></li>
	<% end %>
</ul>

<%= will_paginate @users %>