<h1>Search Results</h1>

<%= link_to "Back", user_admin_path %>

<%= render 'user_search_form' %>

<ul>
	<% @users.each do |user| %>
		<li><%= link_to user.name, edit_user_path(user) %></li>
	<% end %>
</ul>