- if @event.errors.any?
  #error_explanation
    %h2= pluralize(@event.errors.count, "error")
    %p There were problems with the following fields:
    %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg