<h1>About Eta Kappa Nu</h1>
<p>Eta Kappa Nu is the honor society for Electrical and Computer Engineering. Eta Kappa Nu was founded in 1904 at the University of Illinois at Urbana-Champaign and now has nearly 200 chapters. Eligibility depends mostly on scholarship, personal character, voluntary services, and distinguished accomplishments. For undergraduates, the most important qualification is scholarship during the first years in college. </p>

<h2>Requirements for membership:</h2>
<ul>
	<li>Scholarship (GPA)</li>
	<li>One Service Project</li>
	<li>Professor Invitation to Banquet</li>
	<li>Banquet Attendance</li>
	<li>Office Signatures</li>
	<li>Bridge Polishing (Optional)</li>
</ul>
