<h1>Corporate Relations</h1>
<p>The Georgia Tech chapter of HKN strives to foster a relationship between students and leading companies.</p>

<p>As the only Electrical and Computer Engineering honor society, GT Eta Kappa Nu can publicize your company to ~1500 Georgia Tech ECE students, and more importantly, to the most academically successful juniors and seniors.</p>

<p>For detailed information, please reference our Corporate Relations Brochure. Questions and inquiries should be directed to <%= mail_to 'hkn@gatech.edu', 'hkn@gatech.edu', :encode => "javascript"%>.</p>