<h1>Eta Kappa Nu</h1>

<h2>Announcements</h2>


<% unless @blogposts.nil? or @blogposts.empty? %>
	
	<div class="blog">
		<%= will_paginate @blogposts %>
		<%= render :partial => 'blogposts/blogpost', :collection => @blogposts %>
	</div>
	
	<%= will_paginate @blogposts %>
<% else %>
	<div class="blog">
		<h3>No posts currently available.</h3>
	</div>
<% end %>