<h1>Officers</h1>

<ul class="officers">
	<% @users.each do |officer| %>
		<% if officer.officer %>
			<li>
				<%= officer.name %> |
				<%= officer.email %> |
				<%= officer.officer_position %>
			</li>
		<% end %>
	<% end %>
</ul>

<h2>Office Hours</h2>
<!-- Google Calendar linked to HKN Officers calendar -->
<iframe class="calendar" src="https://www.google.com/calendar/embed?showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=5ide81ik2cv6lq9atsqthlsals%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
