
@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header and Navbar */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 2em;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #999;
  text-decoration: none;
}

.navbar-inner {
	padding-left: 2em;
	padding-right: 2em;
}

/* Banner */
.banner-container {
	display: block;
	background-color: #b43141;
	width: 100%;
	margin-bottom: 2em;
	padding-bottom: 1em;
	padding-top: 1em;
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}

/* Body */

body {
	background-color: #fff;
}

.container {
	padding-left: 3em;
	padding-right: 3em;
	background-color: #eee;
}

.lable {
	font-weight: bold;

}

/* Flash */

.flash {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	.success {
		text-align: center;
		background-color: #b2ffb2;
		border: 1px solid #00cc00;
	}
	.error {
		text-align: center;
		background-color: #ff9999;
		border: 1px solid #ff0000;
	}
	.notice {
		text-align: center;
		background-color: #ffff99;
		border: 1px solid #cc0;
	}
}

/* Blog */

.blog {
	.blogpost {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		border: 1px solid black;
		margin-top: 1em;
		margin-bottom: 1em;
    padding: .5em;

    .post-content {
      h1 {
        text-align: left;
        font-size: 1.7em;
      }
      h2 {
        text-align: left;
        font-size: 1.5em;
      }
      h3 {
        text-align: left;
        font-size: 1.3em;
        color: #aaa;
      }
    }

		.title-row {
			padding-top: .5em;
			width: 100%;

			.title {
				font-size: 2em;
				font-weight: bold;
				margin-left: .5em;
        text-decoration: underline;
			}

			.edit {
				margin-right: 1em;
				clear: both;
				float: right;
			}
		}

		.post-content {
			padding-left: 1.3em;
			padding-right: 1.3em;
			padding-top: 1em;
			padding-bottom: 1em;
		}
		.timestamp {
			padding-left: .5em;
		}
	}
}

/* Events */
.events {
	list-style: none;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	li {
		border: 1px solid black;
		padding-top: 1em;
		padding-bottom: 1em;
		margin: .5em;
		background-color: white;

		.attend-button {
			margin-top: 5px;
			float: right;
			margin-right: 1em;
			text-align: center;
		}
		.title {
			font-size: 1.3em;
			font-weight: bold;
			padding-bottom: 5px;
			margin-left: .5em;
		}
		.date {
			margin-left: 2em;
			font-size: .8em;
		}
	}
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: center;
}

footer ul {
  float: center;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Forms */
.content input {
  padding-right: .5em;
  padding-bottom: .5em;
  height: 30px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  padding: 1em;
  @include box_sizing;  
}

input[type=text] {
  height: 30px;
}

label {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1.2em;
  padding-bottom: 1em;
}

/* Initiation Requirement */
.initiation {
  .row {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;

    margin-top: 1em;
    margin-bottom: 1em;

    margin-left: auto;
    margin-right: auto;

    .name {
      font-weight: bold;
    }
  }
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Auth Codes */

.authcodes {
  .row {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;

    margin-top: 1em;
    margin-bottom: 1em;

    margin-left: auto;
    margin-right: auto;

    .name {
      font-weight: bold;
      text-align: center;
    }
  }
}

/* Debug Dump */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
